/*.itemList, .itemList * , .itemList a{
    color: white;
}*/

.itemList{
    /*background-color: whitesmoke;*/
    margin:10px;
    padding: 10px;
    width: 50%;

    float:left;
}


.techCard{
    height: 180px !important;
}


.techCardAdd{
    height: 180px !important;
    text-align: center;
}