.titleReport{
    font-size: xx-large;
    
    margin-bottom: 20px;
}

.usersFromCourseTitle {
    font-size: x-large;
    margin-top: 20px;
}
.paramsReport{
    display: grid;
    grid-template-columns: repeat(3, 100px 1fr);
    align-items: center;
    gap: 10px;
}

.usersFromCourse{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:5px;
}

.usersFromCourse label input {
    margin: 5px;
}