
.login {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 30%;
    padding: 2%;
    min-width: 400px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    color: white;
}

.iconLogin {
    color: white;
    font-size: 2em;
    margin-bottom: 30px
}

.inputPassword {
    margin-top: 30px;
}

.btnLogin {
    background-color: #1FFF00;
    color: white;
    border: none;
    margin-top: 30px;
}