@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

* {
    font-family: 'Sen','Times New Roman', Times, serif, sans-serif;
}

body, #root {
    width: 100%;
    height: 100vh;
    background-color: #darkslateblue ;
}

.App {
    width: 100%;
    height: 100vh;
    background-color: darkslateblue
}

.Spin{
    height: 100vh;
    position: absolute;
    left: 50%;
    top:50%;
}