@import url('https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap');

@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

* {
    font-family: 'Sen','Times New Roman', Times, serif, sans-serif;
}

body, #root {
    width: 100%;
    background-color: rgba(179, 169, 243) ;
}

.Spin{
    height: 100%;
    position: absolute;
    left: 50%;
    top:50%;
}